<!-- app.component.html -->
<div class="chat-container">
  <div class="user-input-history">
    <div *ngFor="let item of conversations" class="user-input-bubble" [ngClass]="{'user': item.type === 'user', 'bot': item.type === 'bot', 'error': item.type === 'error'}">
      <div *ngIf="item.type === 'bot'">
        <div>
          Response:
          <span [innerHTML]="item.text"></span>
        </div>
      </div>
      <div *ngIf="item.type === 'user'">
        <div>User: "{{ item.text }}"</div>
      </div>
      <div *ngIf="item.type === 'error'">
        <div>
          Error:
          <div [innerHTML]="item.text"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="user-input-container">
    <div class="form-group stylish-input d-flex flex-row">
      <input
        class="form-control centered-input mt-1"
        type="text"
        placeholder="Type your message..."
        [(ngModel)]="inputText"
      />
      <button class="btn btn-primary mb-2 mx-2" (click)="handleNerRequest()" [disabled]="loading || !inputText.trim()">
        {{ loading ? 'Sending...' : 'Send' }}
      </button>
    </div>
  </div>
</div>
